/*##############################################################################
################################## Top Level ###################################
##############################################################################*/

* {
    border: 1px solid yellow;
    border: none;
}


html, body {
    background: #FFFFFF;
    color: #000045;
    font-family: "Open Sans";
    
    font-size:20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

#clothes {
    min-height: 100%;
    height: 100%;
    
    position: relative;
}

/*##############################################################################
#################################### Header ####################################
##############################################################################*/

#header {
    width: 100%;
    height: 180px;
    background-image: url("/images/yew.jpg");
    background-size: cover;

    margin-bottom: 0px;

    display: inline-block;
}

#profile {
    display: block;
    padding-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    color: #86B1C4;

    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Verdana;
}

#tag {
    color: #86B1C4;
    
    margin-top: 5px;
    margin-botom: 0px;
    text-align: center;
    font-style: italic;
}

/*
################################################################################
################################ Navigation Bar ################################
################################################################################
*/

#neck {
    width: 100%;
    height: 50px;
    background: #4B3663;

    font-family: Open Sans;
    font-size: 15px;
    
    display: block;
    margin: 0 auto 0 auto;
}

#navbar {
    display: table;
    margin: 0 auto 0 auto;
    
    width: 60%;
    height: 50px;
    color: white;
    text-align: center;
}

#navbar p {
    position: absolute;
    display: inline;
    margin: 0;
    font-size: 36px;
    text-align: center;
}

.navlink {
    margin-left:auto;
    margin-right: auto;
    vertical-align: middle;
    
    padding: 0px 10px 0px 10px;
    display: table-cell;
    width: 20%;
}

.navlink:link {
    color: white;
    text-decoration: none;
}

.navlink:visited {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    color: white;
    text-decoration: underline;
}


/*##############################################################################
#################################### Footer ####################################
##############################################################################*/

#footer {
    background-image: url("/images/yew2.jpg");
    background-size: cover;


    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    text-align: center;    
}

#footer_tag {
    text-align: center;
    color: #86B1C4;;
    margin-top: 10px;
}

.footer_link {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.footer_link:link {
    color: #86B1C4;
    text-decoration: none;
}

.footer_link:visited {
    color: #86B1C4;
    text-decoration: none;
}

.footer_link:hover {
    color: #86B1C4;
    text-decoration: underline;
}

figure {
    display: inline-block;
    margin: 0 auto 0 auto;
}

/*##############################################################################
#################################### Torso #####################################
##############################################################################*/

#torso {
    padding:10px;
    padding-bottom:100px;   /* Height of the footer */
}