/*
################################################################################
################################## Top Level ###################################
################################################################################
*/

* {
    /*border: 2px dashed #303030;*/
    border: 1px solid yellow;
    border: none;
}


body {
    background-color: #A0A0A0;                                                                                                                     
    color:black;                                                                                                                                   
    font-family: "Times New Roman";                                                                                                                
    font-size:20px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

/*
################################################################################
#################################### Header ####################################
################################################################################
*/

#header {
    width: 100%;
    height: 180px;
    background: #640520;
    margin-bottom: 0px;

    display: inline-block;
}

#profile {
    display: block;
    padding-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Verdana;
}

#tag {
    margin-top: 5px;
    margin-botom: 0px;
    text-align: center;
    font-style: italic;
}

/*
################################################################################
################################ Navigation Bar ################################
################################################################################
*/

#neck {
    width: 100%;
    height: 50px;
    background: #0B1D4A;
    display: block;
    margin: 0 auto 0 auto;
}

#navbar {
    display: table;
    margin: 0 auto 0 auto;
    
    width: 60%;
    height: 50px;
    color: white;
    text-align: center;
}

#navbar p {
    position: absolute;
    display: inline;
    margin: 0;
    font-size: 36px;
    text-align: center;
}

.navlink {
    margin-left:auto;
    margin-right: auto;
    vertical-align: middle;
    
    padding: 0px 10px 0px 10px;
    display: table-cell;
    width: 20%;
}

.navlink:link {
    color: white;
    text-decoration: none;
}

.navlink:visited {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    color: white;
    text-decoration: underline;
}


