* {
    border: 2px dashed #303030;
}

#header {
    width: 100%;
    height: 150px;
    background: maroon;
}

#name {
    text-align: center;
    font-family: Verdana;
}

#profile {
    align: middle;
}