html {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    margin-bottom: 150px;
    min-height: 100%;
}

.App {
    /*position: relative;*/
    /*margin: 0;*/
    /*padding-bottom: 6rem;*/
    /*font: 14px "Century Gothic", Futura, sans-serif;*/
    /*background: #622;*/
    /*background-color: #922;*/
    min-height: 100%;
}

.header {
    top: auto;
    height: 125px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: #660000;
}

.about, .projects, .game {
    padding:10em 1em 15em 1em;
    min-height: 100%;
}

.footer {
    height: 150px;
    margin-top: -150px;
    position: absolute;
    width: 100%;
    background: #006644;
    
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/

    /*text-align: center;*/
}

.footer_image {
    max-height: 40px;
}


/******************************************************************************/

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.custom_sjb {
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    text-align: center;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #700000;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

